.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.intro-text h1{
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-left: 1em;
    margin-top: 0.5em;

}
.intro-text h2{
    font-size: 1em;
    font-weight: bold;
    color: rgb(123, 123, 123);
    margin-left: 1em;
    margin-top: 0.0em;
    font-family: 'Roboto', sans-serif;

}
.intro-text p{
    font-size: 0.7em;
    color: rgb(147, 147, 147);
    text-align: center;

    width: 50%;

}

.intro-image{
    width: 300;
    height: 300;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

}