.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.navName{
    font-size: 1em;
    font-weight: bold;
    color: rgb(53, 141, 224);
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}

.navName h1{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(53, 141, 224);
    float: left;
    margin-left: 1em;
    margin-top: 0.0em;
}

.navMenu{
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;

}