.rawTextButton{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #00f5f500;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

.rawTextButton:hover{
    background-color: #1f1f1f1a;
    color: #333;
    border-radius: 0.25em;
}